<%- include('../../components/header.ejs') %>

<div class="container my-4">
    <h1>Reseñas</h1>
    <div class="row">
        <% resenas.forEach(resena => { %>
            <div class="col-md-4 mb-4">
                <div class="card h-100" style="width: 100%;"> 
                    <div class="card-body">
                        <h5 class="card-title"><%= resena.usuario.nombre %></h5>
                        <p class="card-text">Puntuación: <%= resena.calificacion %> ★</p>
                        <p class="card-text">Comentario: <%= resena.comentario %></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('../../components/footer.ejs') %>
